body {
    background-color: rgb(1, 1, 22);
}

img { 
    width: 500px;
    margin-left: 500px;


}

h1 {
        color:rgb(190, 56, 15);
        margin: 20px 40px;
        margin-top: 50px;
        font-size: 70px;

}

h2 {
    color: aliceblue;
    margin: 20px 70px;
    font-size: 50px;
}

p {
    color: aliceblue;
    margin: 30px; 
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.576);
    border: double 4px;
    
}
ul {
    color: aliceblue;
    margin: 30px; 
    font-size: 20px;
}
h3 {
    color: aliceblue;
    margin: 20px 70px;
    font-size: 40px;
}

h4 {
    color: aliceblue;
    margin: 30px; 
    font-size: 20px;
}


